{{define "footer"}}
<footer class="footer">
    <div class="fn-left">
        <a href="https://hacpai.com/article/1538577113305" target="_blank">{{.Slogan}}</a>
    </div>
    <div class="fn-right">
        <span class="ft-gray">
        <a class="ft-gray" href="http://www.miitbeian.gov.cn" target="_blank">滇ICP备14007358号-3</a> • <a href="https://github.com/88250/routinepanic.com" target="_blank">源码</a> • © 2019 <a rel="copyright noopener" href="https://b3log.org" target="_blank">B3log 开源</a>
        </span>
    </div>
</footer>
{{end}}