{{define "head"}}
<meta charset="utf-8"/>
<title>{{.Title}}</title>
<meta name="keywords" content="{{.MetaKeywords}}"/>
<meta name="description" content="{{.MetaDescription}}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Window-target" content="_top"/>
<link rel="icon" type="image/x-icon" href="{{.Conf.StaticServer}}/images/logo@48.png">
<link type="text/css" rel="stylesheet" href="{{.Conf.StaticServer}}/css/base.css?{{.Conf.StaticResourceVersion}}"/>
{{end}}