/**
 * side.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Oct 16, 2018
 */
.side {
  width: 148px;
  margin-right: 24px;

  a {
    color: $gray;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }

  &__item {
    &--current {
      background-color: #e6e6e6;
      &:hover {
        color: $gray !important;
      }
    }
  }
}