/**
 * basic.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.0, Apr 13, 2018
 */

@import 'basic';
@import 'github';
@import 'nav';
@import 'tip';

.list {
  &__item {
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 24px;
    padding: 12px;
    transition: $transition;
    &:hover {
      border: 1px solid #e2e2e2;
    }
  }
}

.avatar {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center center;
  &--mid {
    height: 38px;
    width: 38px;
  }
}

.question {
  &__title {
    color: $black;
    font-size: 20px;
    transition: $transition;
    margin-bottom: 12px;
    display: block;
    &:hover {
      color: #000;
    }
  }

  &__tag {
    display: inline-block;
    white-space: nowrap;
    background-color: rgb(241, 248, 255);
    padding: 3px 6px;
    margin-right: 12px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      background-color: rgb(221, 238, 255);
      text-decoration: none;
    }
  }
}

.footer {
  margin-top: 48px;
  padding: 48px 0;
  border-top: 1px solid #ddd;
  font-size: 13px;
  color: $gray;
}

.pagination {
  &__item {
    color: #4285f4;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(225, 228, 232);
    margin-right: -1px;
    float: left;
    transition: $transition;
    font-weight: 600;
    line-height: 21px;
    font-size: 13px;

    &:hover {
      background-color: rgb(239, 243, 246);
      text-decoration: none;
      border-color: rgb(225, 228, 232);
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
    &--current,
    &--current:hover {
      color: rgb(255, 255, 255);
      background-color: #4285f4;
      border-color: #4285f4;
      cursor: default;
    }
    &--disabled,
    &--disabled:hover {
      color: rgb(209, 213, 218);
      background-color: rgb(250, 251, 252);
      cursor: not-allowed;
    }
  }
}