/**
 * index.
 *
 * @author <a href="http://vanessa.b3log.org">Liyuan Li</a>
 * @version 0.1.0.1, Oct 3, 2018
 */
@import 'variables';

.pagination {
  &__item {
    color: #4285f4;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(225, 228, 232);
    margin-right: -1px;
    float: left;
    transition: $transition;
    font-weight: 600;
    line-height: 21px;
    font-size: 13px;

    &:hover {
      background-color: rgb(239, 243, 246);
      text-decoration: none;
      border-color: rgb(225, 228, 232);
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &--current,
    &--current:hover {
      color: rgb(255, 255, 255);
      background-color: #4285f4;
      border-color: #4285f4;
      cursor: default;
    }
    &--disabled,
    &--disabled:hover {
      color: rgb(209, 213, 218);
      background-color: rgb(250, 251, 252);
      cursor: not-allowed;
    }
  }
}