{{define "login.html"}}
<!DOCTYPE html>
<html>
<head>
{{template "head" .}}
</head>
<body>
{{template "nav" .}}
<div class="fn-content fn-wrap">
    <div class="fn-flex-1 fn-flex">
        <article class="list__item login__panel">
            <div class="oauth login__img"></div>
            <button class="oauth" href="{{.Conf.Server}}/oauth/github">登录 GitHub 账号后即可开始使用</button>
            <img class="fn-hidden" src="{{.Conf.StaticServer}}/images/github.gif"/>
        </article>
    </div>
{{template "footer" .}}
</div>
<script>
  document.querySelectorAll('.oauth').forEach(function (item) {
    item.addEventListener('click', function () {
      window.location.href = '/oauth/github/redirect?state=0'
    })
  })
</script>
</body>
</html>
{{end}}