{{define "question.html"}}
<!DOCTYPE html>
<html>
<head>
{{template "head" .}}
    <link type="text/css" rel="stylesheet"
          href="{{.Conf.StaticServer}}/css/details.css?{{.Conf.StaticResourceVersion}}"/>
</head>
<body>
{{template "nav" .}}
<div class="fn-wrap fn-content details">
    <div>
    {{range .Question.Tags}}
        <a class="question__tag" rel="tag" href="tags/tag">{{.Title}}</a>
    {{end}}
    </div>
    <header><h2 class="question__title">{{.Question.Title}}</h2></header>
    <div class="content-reset">
    {{.Question.Content}}
    </div>

    <h2 class="details__answer">答案</h2>
{{range .Answers}}
    <div class="content-reset list__item">
    {{.Content}}
    </div>
{{end}}
</div>

{{template "footer" .}}
<script src="{{.Conf.StaticServer}}/js/lib/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad()
</script>
</body>
</html>
{{end}}